*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6D9197;
    font-family: 'PT+Sans','Readex+Pro', sans-serif;
}

::selection{
    color: #fff;
    background: #17A2B8;
  }

.container{
    width: 900px; 
    padding: 13px 25px;
    background: #DEF2F1;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}

.container .input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.typing-text{
    background-color: #d4e7e6;
    padding: 20px;
    border-radius: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow:hidden;
    max-height: 400px;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p{
    font-size: 22px;
    letter-spacing: 3px;
    text-align: justify;
}

.typing-text p span{
    position: relative;
  }

.typing-text p span.correct{
    color: #28a11b;
  }

.typing-text p span.incorrect{
    color: #ca3035;
    outline: 1px solid whitesmoke;
    background: #feb0bd;
    border-radius: 4px;
  }

.typing-text p span.active{
    color: #17A2B8;
  }

.typing-text p span.active::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #17A2B8;
    animation: blink 1s ease-in-out infinite;
  }

@keyframes blink{
    50%{ 
      opacity: 1; 
    }
  }

.status{
    margin: 0px  0px;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid #bfbfbf;
    padding-top: 20px;
}

.status .stats{
    background-color: #d4e7e6;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
}

.status .stats span{
    font-size: 19px;
    font-weight:600;
}

.try-again .btn {
    /* float: right; */
    background-color: #fff;
    width: 208px;
    padding: 10px 0px;
    /* margin-right: -10px; */
    background: #17A2B8;
    color: #fff;
    transition: transform 0.3s ease;
}

.try-again .btn:hover{
    background-color: #19899a;
}

.try-again .btn:active{
    transform: scale(0.97);
}

@media (max-width: 992px) {
    .content-box .typing-text{
      max-height: 100%;
    }
    .typing-text p{
      font-size: 22px;
      text-align: justify;
    }
  }


@media (max-width: 768px) {
    .content-box .typing-text{
      max-height: 100%;
    }
    .typing-text p{
      font-size: 19px;
      text-align: justify;
    }
    .status .stats{
        margin-bottom: 7px;
     }
  }
  @media (max-width: 576px) {
    .typing-text p{
      font-size: 18px;
      text-align: justify;
    }
    .status .stats{
       margin-bottom: 7px;
    }
  }