*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6D9197;
    font-family: 'PT+Sans','Readex+Pro', sans-serif;
}

.container{
    width: 900px; 
    padding: 28px 39px;
    background: #DEF2F1;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}

.container .input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.typing-text{
    background-color: #d4e7e6;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow:scroll;
    max-height: 350px;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p{
    font-size: 30px;
    letter-spacing: 3px;
    /* border-bottom: 1px solid #bfbfbf ; */
    /* text-decoration: underline 1px #bfbfbf; */
    text-align: justify;
}

.content{
    margin-top: 22px;
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}
  
.content .result-details{
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
  
.result-details li{
    height: 40px;
    list-style: none;
    position: relative;
    align-items: center;
    padding-right: 40px;
    font-size: 19px;
}
  
.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #bfbfbf;
}
  
.result-details li span{
    /* display: block; */
    font-size: 22px;
    margin-left: 8px;
}
  
li span b{
    font-weight: bold;
}
  
li:not(:first-child) span{
    font-weight: bold;
}

.content button{
    outline: none;
    border: none;
    width: 120px;
    color: #fff;
    padding: 8px 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    background: #17A2B8;
    transition: transform 0.3s ease;
}


.content button:hover{
    background-color: #19899a;
}

.content button:active{
    transform: scale(0.97);
}